.p-button:hover {
  color: white !important;
  background-color: var(--el-color-primary) !important;
  border: 1px solid var(--el-color-primary-light-7) !important;
}

.el-button--danger:hover {
  background-color: var(--el-color-danger) !important;
  border: 1px solid var(--el-color-danger-light-7) !important;
}
