.el-overlay-dialog::-webkit-scrollbar {
  width: 12px;
}

.el-overlay-dialog::-webkit-scrollbar-track {
  border-radius: 4px;
}

.el-overlay-dialog::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary);
  border-radius: 4px;
}

.el-overlay-dialog::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary-light-3);
}
