.backoffice-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  align-items: center;
}

.loading-div {
  width: 100%;
  height: 100px;
}

.input-width {
  width: 250px;
}

.el-descriptions__label {
  width: 160px;
}

@media (max-width: 1200px) {
  .el-tabs__item {
    padding: 0 4px;
  }
}
